= render 'pages/home' unless user_signed_in?

#pins.transitions-enabled
  - @pins.each do |pin|
    .box.panel.panel-default
      .panel-body
        = link_to image_tag(pin.image.url(:medium)), pin  
      .panel-footer
        = pin.description
        %br
        %strong
          = pin.user.email if pin.user
        - if pin.user == current_user
          .actions
            = link_to edit_pin_path(pin) do
              %span.glyphicon.glyphicon-edit
              Edit
            = link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do
              %span.glyphicon.glyphicon-trash
              Delete
            