= link_to 'Back', pins_path

.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-body
        .center
          = image_tag @pin.image.url
      
      .panel-footer
        
        %p
          = @pin.description
          
        %strong
          = @pin.user.email if @pin.user
         
        .actions  
          - if @pin.user == current_user
            = link_to edit_pin_path(@pin) do
              %span.glyphicon.glyphicon-edit
              Edit
      
